.logo{
    max-width: 120px;
    height: auto;
}
header{
    display: flex;
}
.navbar{
  margin-left: auto;
  margin-right: 25px;
  margin-top: 5px;
}
header a {
    text-decoration: none;
    margin: 10px;
    color: #1A1A1A;
}
.section1{
    background-image: url("images/landing.jpg");
    color: white;
    text-align: center;
    padding: 200px 200px;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-bottom: 20px;
    background-size: cover;
    background-position:center;
}
.section1 > h1 {
    font-size: 50px;
}
.section1 > p{
    font-size: 18px;
    line-height: 150%;
}
.headtitle > h1 {
    text-align: center;
    margin-bottom: -5px;
}
.underline{
    background-color: #00B172;
    box-align: center;
    width: 180px;
    height: 2px;
}
.imageicon{
    max-width: 100px;
    height: auto;
}
.greenwords{
    color: #00B172;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
.smallwords{
    color:#1A1A1A;
    font: 50px; 
    text-align: center;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
}
.container{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
.lastsec{
    background-color: #00B172;
    color: white;
}
.img1{
    max-width: 120px;
    height: auto;
}
.img2{
    max-width: 300px;
    height: auto;
}
.Yezzy{
    font-weight: bold;
    font-size: 35px;
}
.underline2{
    background-color: white;
    width: 410px;
    height: 2px;
    margin-right: 800px;
    position: absolute;
}
.topSec{
    margin-left: 50px;
    padding: 30px;
}
.big{
    font-size: 25px;
    font-weight: bold;
}
.small{
    font-size: medium;
}
.element1{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
.container2{
    display: flex;
    justify-content: space-around;
}
.small{
    position: relative;
    bottom: 40px;
    font-size: 18px;
}
.img1{
    position:relative;
    top:130px;
}
.img2{
    position: relative;
    bottom:50px;
}

